# Mac stuff:
*.DS_Store
.DS_Store 
data/.DS_Store
ext/.DS_Store

# Compiled stuff
*CMakeCache.txt
*CMakeFiles/
*Makefile
*cmake_install.cmake
*salmon

# Don't change stuff
ext/project_path.hpp
ext/project_path.hpp.in

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore files in the out and .vs directories
out/
/.vs/